.footer {
    margin-top: 150px;
    margin-bottom: 100px;
}

.footer-icon {
    align-items: center;
    background-color:#0D28A6;
    color: white;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo-footer {
    width: 100px;
    height: 34px;
}

.col-icon-footer {
    margin-right: 16px;
}

@media (max-width: 430px) {
    .footer {
        margin-top: 60px;
    }

    .addres-footer {
        margin-top: 16px;
    }

    .binar-mail {
        margin-top: 16px;
    }

    .binar-phone {
        margin-top: 16px;
    }

    .footer-nav-1 {
        margin-top: 16px;
    }

    .footer-nav-2 {
        margin-top: 16px;
    }

    .footer-nav-3 {
        margin-top: 16px;
    }

    .footer-nav-4 {
        margin-top: 16px;
    }

    .copy-right {
        margin-top: 16px;
    }

    .logo-footer {
        margin-top: 16px;
    }
}