.intro {
    background: #F1F3FF;
}

.button-intro {
    background: #5CB85F;
    width: 140px;
    height: 34px;
    border-radius: 2px;
    font-family: Arial;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

h1 {
    left: 136px;
    top: 177px;
    font-family: Arial;
}

h6 {
    font-family: Arial;
    left: 136px;
    top: 301px;

}

.mobil {
    width: 704px;
    height: 407px;
}
